[Unit]
Description=ProjectOne Project
After=network.target

[Service]
ExecStart=/home/user/2023-2024-projectone-ctai-sirbucezar/.venv/bin/python -u /home/user/2023-2024-projectone-ctai-sirbucezar/RPi/app.py
WorkingDirectory=/home/user/2023-2024-projectone-ctai-sirbucezar/RPi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=user
Environment="PATH=/home/user/2023-2024-projectone-ctai-sirbucezar/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment=PYTHONUNBUFFERED=1
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99

[Install]
WantedBy=multi-user.target
